@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.font-sora {
    font-family: "Sora", sans-serif;
}

.text-xxl {
    font-size: 48px;
    line-height: 64px;
}

.text-md {
    font-size: 18px;
    line-height: 35px;
}

.text-base {
    font-size: 16px;
    line-height: 28px;
}

.text-lg {
    font-size: 20px;
    line-height: 28px;
}

.text-sm {
    font-size: 14px;
    line-height: 26px;
}

.text-sliderBlack {
    color: #27214B;
}

.primary-color {
    color: #5E72E4;
}

.text-faqBlack {
    color: #101828;
}

.text-faqSub {
    color: #3B4655;
}

/* added letter spacing */

.ls-1 {
    letter-spacing: -0.01em;
}

/* Common Properties */

.container-keepSL {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* Spacing */

.py-Broker {
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Slick Slider CSS */

.slick-dots li button {
    display: none !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: white;
    border: 1px solid #5E72E4;
}

.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5E72E4;
}

.slick-dots {
    bottom: 10px !important;
}

.max-w-sliderText {
    max-width: 500px;
}

.max-w-sliderSubTxt {
    max-width: 408px;
}

.wh-btnArrow {
    width: 24px;
    height: 24px;
}

.btnGetStart {
    width: 172px;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 12px;
    background: #5E72E4;
    border: 1px solid transparent;
    gap: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.my-media-sliderContent {
    margin-top: 20px;
    margin-bottom: 40px;
}

@media (max-width: 991.9px) {
    .max-w-sliderText {
        max-width: 100%;
    }

    .max-w-sliderSubTxt {
        max-width: 100%;
    }

    .py-Broker {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width:1024px) {
    .mediaSliderMainTxt {
        font-size: 46px;
    }
}

@media (max-width:575.9px) {
    .mediaSliderMainTxt {
        font-size: 32px;
        line-height: 40px;
    }

    .my-media-sliderContent {
        margin-bottom: 24px;
    }

    .btnGetStart {
        height: 56px;
    }

    .mediaSubTxt {
        font-size: 16px;
        line-height: 26px;
    }

    .py-Broker {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 20px !important;
    }
}