@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

.font-sora {
    font-family: "Sora", sans-serif;
}

.text-xxl {
    font-size: 48px;
    line-height: 64px;
}

.text-md {
    font-size: 18px;
    line-height: 35px;
}

.text-base {
    font-size: 16px;
    line-height: 28px;
}

.text-lg {
    font-size: 20px;
    line-height: 28px;
}

.text-sm {
    font-size: 14px;
    line-height: 26px;
}

.text-sliderBlack {
    color: #27214B;
}

.primary-color {
    color: #5E72E4;
}

.text-faqBlack {
    color: #101828;
}

.text-faqSub {
    color: #3B4655;
}



/*----------------- faq section css --------------------*/
.dots {
    max-width: 7px;
    width: 100%;
    height: 7px;
    background-color: #27214B;
    opacity: 75%;
}

.acc_add_img,
.acc_sub_img {
    width: 20px;
    height: 20px;
}

.acc_sub_img {
    display: none;
}

.accordian {
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}

.max-w-850 {
    max-width: 850px;
}

.accordian_hidden_text {
    transition: max-height 0.5s ease, opacity 0.5s ease;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
}

.accordian_hidden_text.show {
    max-height: 1000px;
    /* Arbitrary high value to ensure full content is shown */
    opacity: 1;
}


@media (min-width:992px) {
    .mt_lg_40 {
        margin-top: 40px;
    }
}

/* added letter spacing */

.ls-1 {
    letter-spacing: -0.01em;
}

/* Common Properties */

.container-keepSL {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* Spacing */

.py-Broker {
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Slick Slider CSS */

.slick-dots li button {
    display: none !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: white;
    border: 1px solid #5E72E4;
}

.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5E72E4;
}

.slick-dots {
    bottom: 10px !important;
}

.max-w-sliderText {
    max-width: 500px;
}

.max-w-sliderSubTxt {
    max-width: 408px;
}

.wh-btnArrow {
    width: 24px;
    height: 24px;
}

.btnGetStart {
    width: 172px;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 12px;
    background: #5E72E4;
    border: 1px solid transparent;
    gap: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
}

.my-media-sliderContent {
    margin-top: 20px;
    margin-bottom: 40px;
}

/* FREE TRIAL SECTION CSS */

.freeTrialSec {
    background-image: url('../images/png/FreeTrialSecBgImg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}

.btnGetStartTrial {
    background: white;
    color: #5E72E4;
}

.wh-btnTrial {
    width: 14px;
    height: 14px;
}

.mb-mediaTrialTxt {
    margin-bottom: 32px;
}

/* FOOTER CSS */

.footerLogo {
    width: 48px;
    height: 48px;
}

.footerProp {
    padding-top: 51px;
    padding-bottom: 43px;
    background: #111C2D;
}

.max-w-footerTxt {
    max-width: 360px;
}

.pyFooterColTxt {
    padding-top: 16px;
    padding-bottom: 32px;
}

.text-footer {
    font-size: 12px;
    line-height: 20px;
}

.opacity-65 {
    opacity: 65%;
}

.pt-copyright {
    padding-top: 32px;
}

@media (max-width: 991.9px) {
    .max-w-sliderText {
        max-width: 100%;
    }

    .max-w-sliderSubTxt {
        max-width: 100%;
    }

    .py-Broker {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width:1024px) {
    .mediaSliderMainTxt {
        font-size: 46px;
    }
}

@media (max-width:575.9px) {
    .mediaSliderMainTxt {
        font-size: 32px;
        line-height: 40px;
    }

    .my-media-sliderContent {
        margin-bottom: 24px;
    }

    .btnGetStart {
        height: 56px;
    }

    .mediaSubTxt {
        font-size: 16px;
        line-height: 26px;
    }

    .py-Broker {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 20px !important;
    }

    .freeTrialSec {
        background-image: url('../images/png/mediaBg.png');
        background-size: cover;
        border-radius: 20px;
    }
}