@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
    list-style: none !important;
    text-decoration: none !important;
}

.font-sora {
    font-family: "Sora", sans-serif;
}

/* font sizes and line height */

.text-xxl {
    font-size: 48px;
    line-height: 64px;
}

.text-md {
    font-size: 18px;
    line-height: 35px;
}

.text-xmd {
    font-size: 18px;
    line-height: 22px;
}

.text-base {
    font-size: 16px;
    line-height: 28px;
}

.text-lg {
    font-size: 20px;
    line-height: 28px;
}

.text-sm {
    font-size: 14px;
    line-height: 26px;
}

/* colors */

.text-sliderBlack {
    color: #27214B;
}

.primary-color {
    color: #5E72E4;
}

.text-faqBlack {
    color: #101828;
}

.text-faqSub {
    color: #3B4655;
}

/*----------------- faq section css --------------------*/

.dots {
    max-width: 5px;
    width: 100%;
    height: 5px;
    background-color: #27214B;
    opacity: 75%;
}

.max-w-850 {
    max-width: 850px;
}

.moreQuestion {
    border-radius: 12px;
    border: 1px solid #5E72E480;
    transition: all 200ms linear;
}


.moreQuestion h1 {
    color: #5E72E480;
}

.moreQuestion:hover h1 {
    color: #5E72E4;
}

.moreQuestion:hover {
    border: 1px solid #5e72e49f;
}



.right-side-arrow {
    width: 24px;
    height: 24px;
}

.cursor-poniter {
    cursor: pointer;
}

/* added letter spacing */

.ls-1 {
    letter-spacing: -0.01em;
}

/* Common Properties */

.container-keepSL {
    max-width: 1220px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 12px;
    padding-right: 12px;
}

/* Spacing */

.py-Broker {
    padding-top: 128px;
    padding-bottom: 128px;
}

/* Slick Slider CSS */

.slick-dots li button {
    display: none !important;
}

.slick-dots li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50%;
    background: white;
    border: 1px solid #5E72E4;
}

.slick-dots li.slick-active {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #5E72E4;
}

.slick-dots {
    bottom: 0 !important;
}

.max-w-sliderText {
    max-width: 500px;
}

.max-w-sliderSubTxt {
    max-width: 408px;
}

.wh-btnArrow {
    width: 24px;
    height: 24px;
}

.btnGetStart {
    width: 172px;
    height: 60px;
    padding: 16px 20px 16px 20px;
    border-radius: 12px;
    background: #5E72E4;
    border: 1px solid transparent;
    gap: 12px;
    box-shadow: 0px 1px 2px 0px #1018280D;
    transition: all 200ms linear;
}

.btnGetStart:hover {
    border: 1px solid #5E72E4;
    background: white;
    color: #5E72E4 !important;
}

.btnGetStart:hover .wh-btnArrow svg path {
    stroke: #5E72E4 !important;
    /* fill: #5E72E4 !important; */
    transform: translate(4px, -4px);
}

.my-media-sliderContent {
    margin-top: 20px;
    margin-bottom: 40px;
}

.h-sliderImg {
    height: 441px !important;
}

/* FREE TRIAL SECTION CSS */

.freeTrialSec {
    background-image: url('../images/png/FreeTrialSecBgImg.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    padding-bottom: 70px;
    padding-top: 70px;
}

.btnGetStartTrial {
    background: white;
    color: #5E72E4;
}


.wh-btnTrial {
    width: 14px;
    height: 14px;
}

.mb-mediaTrialTxt {
    margin-bottom: 32px;
}

.ptFreeTrial {
    padding-top: 120px;
}

/* FOOTER CSS */

.footerLogo {
    width: 48px;
    height: 48px;
}

.footerProp {
    padding-top: 51px;
    padding-bottom: 43px;
    background: #111C2D;
}

.max-w-footerTxt {
    max-width: 290px;
}

.pyFooterColTxt {
    padding-top: 16px;
    padding-bottom: 32px;
}

.text-footer {
    font-size: 12px;
    line-height: 20px;
}

.opacity-65 {
    opacity: 65%;
}

.pt-copyright {
    padding-top: 32px;
}

.line {
    width: 100%;
    height: 1px;
    background: #FFFFFF33;
    margin-top: 32px;
}

.mbFooterLink {
    margin-bottom: 14px;
}

.mbFooterSubLink {
    margin-bottom: 8px;
}

.footerLink:hover {
    opacity: 100% !important;
}

/*------------------ stay updated with keepspl ------------------*/

.max-w-920 {
    max-width: 920px;
}

.updatedCard {
    max-width: 272px;
    min-height: 168px;
    border: 1px solid #EEEEEE80;
    border-radius: 20px;
    background: linear-gradient(180deg, rgba(94, 114, 228, 0.025) 0%, rgba(94, 114, 228, 0) 100%);
    width: 100%;
    transition: all 200ms linear;
}

.updatedCard:hover {
    background: #5E72E4;
}

.updatedCard:hover p {
    color: #FFFFFF !important;
}

.social-media-icon {
    max-width: 48px;
    height: 48px;
}

.max-w-224 {
    max-width: 224px;
}

.mt_40 {
    margin-top: 40px;
}

/* <------------------------------ scroll to top -----------------> */

.scroll_top {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #5E72E4;
    cursor: pointer;
}

.scroll_top {
    bottom: 20px;
    right: 20px;
}

.scroll_box {
    transition: all 300ms linear;
    width: 18px;
    height: 20px;
}

.scroll_box:hover {
    transform: scale(1.2);
    box-shadow: 0px 0px 20px -3px #5E72E4;
}

/* accordinan ================*/

.accordion-button:not(.collapsed) {
    background-color: white !important;
}

.accordion-button:focus {
    box-shadow: none !important;
}

.accordion-button::after {
    background-image: url("../images/png/accodeina-add-img.png");
}

.accordion-button:not(.collapsed)::after {
    background-image: url("../images/png/accodeina-sub-img.png");
    height: 24px;
}

.accordion-item {
    border: 1px solid #DDDDDD;
    border-radius: 12px;
}

.accordion-item:not(:first-of-type) {
    border: 1px solid #DDDDDD;
}

.accordion-button {
    border-bottom: 0px;
    border-radius: 12px;
}

.accordion-body {
    padding-top: 0;
}

@media (min-width:992px) {
    .mt_lg_40 {
        margin-top: 40px !important;
    }
}

@media (max-width: 991.9px) {
    .max-w-sliderText {
        max-width: 100%;
    }

    .max-lg-max-w-600 {
        max-width: 600px;
    }

    .max-w-sliderSubTxt {
        max-width: 100%;
    }

    .py-Broker {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    .ptFreeTrial {
        padding-top: 100px;
    }

    .h-sliderImg {
        height: auto !important;
    }
}

@media (min-width:768px) {
    .md-text-lg {
        font-size: 20px;
        line-height: 28px;
    }
}

@media (max-width:1024px) {
    .mediaSliderMainTxt {
        font-size: 46px;
    }
}

@media (max-width:575.9px) {
    .mediaSliderMainTxt {
        font-size: 32px;
        line-height: 40px;
    }

    .my-media-sliderContent {
        margin-bottom: 24px;
    }

    .btnGetStart {
        height: 56px;
    }

    .mediaSubTxt {
        font-size: 16px;
        line-height: 26px;
    }

    .py-Broker {
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .slick-dotted.slick-slider {
        margin-bottom: 20px !important;
    }

    .freeTrialSec {
        background-image: url('../images/png/mediaBg.png');
        background-size: cover;
        border-radius: 20px;
    }

    .pyFooterColTxt {
        padding-bottom: 16px;
    }

    .mbMediaSm {
        margin-bottom: 32px;
    }

    .footerProp {
        padding-top: 26px;
        padding-bottom: 20px;
    }

    .ptFreeTrial {
        padding-top: 90px;
    }

    .md-text-sm {
        font-size: 16px;
        line-height: 26px;
    }

    .scroll_top {
        width: 30px !important;
        height: 30px !important;
    }

    .scroll_box {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 1536px) {
    .wideProp {
        max-width: 1536px;
        margin-left: auto;
        margin-right: auto;
    }
}